NEXT_PUBLIC_SUPABASE_URL=https://nvkafitzwkbjoqsrtqzi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im52a2FmaXR6d2tiam9xc3J0cXppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk2NDQ1MDksImV4cCI6MjA2NTIyMDUwOX0.KHsbuOALpYaN5IeTo6UGE2wi5C4Gh4Ima4Z2kj74fjw